* {
    margin: 0;

}

@font-face {
    font-family: 'Srbija Sans';
    src: url("../Fonts/Srbija Sans.ttf");
}

@font-face {
    font-family: 'Geologica';
    src: url("../Fonts/Geologica-ExtraLight.ttf");
}

h4 {

    font-family: 'Srbija Sans', sans-serif;
    font-size: 32px;
    line-height: 35;
    text-transform: uppercase;
}

h3 {
    font-family: 'Srbija Sans', sans-serif;
    font-size: 44px;
    line-height: 57px;
}

h2 {
    font-family: 'Srbija Sans', sans-serif;
    font-size: 80px;
    line-height: 80px;
    text-transform: lowercase;
}


p {
    font-family: 'Geologica', sans-serif;
    font-size: 24px;
    line-height: 31px;
}

.small-info {
    background: #000;
    border-radius: 10px;
    padding: 10px 16px;
    display: inline-flex;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 56px;
}

.inlay-title {
    font-family: 'Srbija Sans', sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 34px;
    margin-left: 56px;
}

.p-inlay {
    font-family: 'Geologica', sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-transform: lowercase;
    max-width: 428px;
    margin-top: 8px;
    margin-left: 57px;
}

span {
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
    line-height: 26px;
}

.main {
    background-color: #FBFAF8;
    font-family: 'Srbija Sans', 'Srbija Sans', sans-serif;

}

.header {
    background-color: #FBFAF8;
    position: fixed;
    z-index: 2;
    padding: 22px 0;
}

.container {
    margin: 0 auto;
    padding-left: 108px;
    padding-right: 108px;

}

.Join-us {
    background: #000;
    border-radius: 8px;
    width: 183px;
    height: 36px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: 'Srbija Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
    text-transform: uppercase;
}

.Join-us:hover {
    background: #F00;
}

.main-content {
    padding-top: 80px;
    overflow: hidden;
    background-image: url("../images/Hands-instruments.png");
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    height: 944px;
}



.guitarrepair-main-content {
    overflow: hidden;
    height: 654px;
    background-color: #FBFAF8;;
}


.guitarrepair-main-content .container {
    padding-top: 80px;
    position: relative;
    overflow: hidden;
    height: 654px;
}

.grepair-red-guitar {
    position: absolute;
    top: 13px;
    left: calc(100% - 900px);
    z-index: 0;
}

.stratoworkshop {
    position: absolute;
    top: 100px;
    left: calc(100% - 760px);
    z-index: 0;
}

.contact-us-main {
    padding-top: 100px;
    background-color: #4E4848;
    height: 915px;
}

.contact-us-title {
    padding-top: 121px;
    color: #FFF;
}

.contact-us-link {
    font-family: 'Geologica', sans-serif;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -0.32px;
    color: #FFF;
}

.contact-us-link a {
    text-decoration: none;
    color:  #FFFFFF;
}

.contact-us-address {
    font-size: 24px;
    line-height: 24px;
    margin-top: 56px;
    color: #FFF;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.event-card p {

}

.events-container {
    display: grid;
    grid-template-rows: repeat(2, 288px);
    gap: 24px;
    width: 611px;
}

.event-card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #4E4848;
    /*display: grid;*/
    /*grid-template-rows: repeat(2, 288px);*/
    /*gap: 24px;*/
    border: 0;
    border-radius: 20px;
}

/*.event-card:nth-child(2) {*/
/*    padding-top: 24px;*/
/*}*/

.card-inlay {
    width: 611px;
}

.card-inlay:nth-child(1) {
    /*margin-left: 56px;*/
}

.event-card .event-image {
    /*margin-left: 14px;*/
}

.event-image {
    margin-left: 12px;
    z-index: 0;
}

.event-image:hover {
    background-image: url("../images/hover-price.png");
    opacity: 0.5;
    z-index: 1;
}

.types-of-service {
    padding-top: 91px;

}

.logo img {
    vertical-align: bottom;
}

.logo {
    margin-right: 295px;
}



.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-item {
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.menu-item:nth-child(-n+3) {
    margin-right: 32px;
}

.menu-item:nth-child(4) {
    margin-right: 24px;
}

.menu-item a {
    font-size: 20px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.menu-item a:hover {
    border-bottom: 2px solid #F00;
}

.main-titling {
    padding-top: 132px;
    /*max-width: 704px;*/
}

H1 {
    font-family: 'Srbija Sans', sans-serif;
    font-size: 109px;
    white-space: pre-wrap;
    width: 750px;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
}

.main-titling p {
    white-space: pre-wrap;
    width: 450px;
}


.main-content .container {
    height: 944px;
}

.statistics {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 204px) 288px;
    gap: 104px;

}

.about-us {
    background-color: #0E0E10;
    color: #FBFAF8;
    padding-bottom: 44px;
}

.about-us-container {
    padding-top: 91px;
    display: grid;
    grid-template-columns: repeat(2, 611px);
    gap: 0;
    margin-bottom: 56px;
}

.services-container {
    padding-top: 68px;
    display: grid;
    grid-template-columns: repeat(2, 599px);
    gap: 24px;
    margin-bottom: 56px;
    justify-self: center;
}

.events-container {
    padding-top: 68px;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 661px);*/
    /*gap: 0px;*/
    margin-bottom: 56px;
    justify-self: center;
}

.contact-us-container {
    padding-top: 64px;
    display: grid;
    grid-template-columns: repeat(2, 598px);
    gap: 24px;
    margin-bottom: 56px;
    justify-self: center;
}



.we-are-here {
    padding-top: 80px;
    background-color: #FBFAF8;
    padding-bottom: 34px;
}

.map {
    margin-top: 34px;
    margin-bottom: 120px;
    background-color: #FBFAF8;
}

.partners {
    background-color: #0E0E10;
    color: #FBFAF8;
    display: grid;
    grid-template-columns: repeat(4, 288px);
    gap: 24px;

}

.partner {
    padding-top: 80px;
    width: 288px;
    height: 100px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

footer {
    padding-top: 80px;
    background-color: #0E0E10;
    color: #FBFAF8;
    padding-bottom: 50px;
}

.footer-line-1 {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.footer-line-2 {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.p-links {
    display: flex;
    flex-direction: column;
}

.links {
    float: right;
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
    line-height: 19px;
}

.links a {
    text-decoration: none;
    color: #FBFAF8;
}

.right a {
    text-decoration: none;
    color:  #FF0000;
}

.right {
    font-size: 16px;
    line-height: 24px;
}

.red {
    font-size: 16px;
    line-height: 24px;
    color: #F00;
}

.right:nth-child(1) {
    margin-right: 24px;
}


.order-text {
    font-size: 24px;
    line-height: 29px;
    padding: 60px 40px;
    text-align: center;
}

.order-form {
    display: grid;
    gap: 24px;
    grid-template-rows: repeat(3, 60px) 100px;
    justify-content: center;
    width: 598px;
    height: 555px;
    margin-bottom: 20px;

}

.form__group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 598px;
    height: 60px;
    border: 0;
    outline: none;
    position: relative;

}

.form__group:nth-child(4) {
    height: 100px;
}

.form__group:nth-child(4) .input {
    height: 100px;
}

.input {
    font-size: 16px;
    width: 598px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    text-indent: 24px;
    line-height: 16px;
    font-family: 'Geologica', sans-serif;
    color: #0E0E10;
}

textarea {
    text-indent: 24px;
    padding-top: 24px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Geologica', sans-serif;
    color: #0E0E10;;
}

.label {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    /*transition: all ease 2s;*/
    pointer-events: none;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Geologica', sans-serif;
    color: #313231;
}

.label-textarea {
    position: absolute;
    top: 25%;
    left: 24px;
    transform: translateY(-50%);
    /*transition: all ease 2s;*/
    pointer-events: none;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Geologica', sans-serif;
    color: #313231;
}

.input::placeholder {
    opacity: 0;
}

.input:focus + .label {
   opacity: 0;
}

.input:focus + .label-textarea {
    opacity: 0;
}

.input:not(:placeholder-shown) + .label {
   opacity: 0;
}

.input:not(:placeholder-shown) + .label-textarea {
    opacity: 0;
}


.order-button {
    width: 190px;
    height: 52px;
    border-radius: 10px;
    background: #F00;
    border: 0;
    color: #FFF;
    margin-top: 24px;
    font-family: 'Srbija Sans', sans-serif;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
}